* {
    margin: 0px;
    padding: 0px;

}
.abc {
    background-color: rgb(128,0,0);

}
.abc2 {
    color: white;
    font-size: 15px;
    margin-left: 15px;
}
.abc5 {
    color: black;
    font-size: 15px;
}
.abc12 {
    color: black;
    font-size: 15px;
    color: rgb(128,0,0);
    margin-top: 15px;
}
.abc3 {
   display: none;
}
.abc10 {
    background-color: white;
}
.abc4 {
    width: 375px;
  
 color: rgb(128,0,0);   
}
.abc9 {
    width: 300px;
 color: white;   
}
.abc6 {
    border: 0px;

} 
.space {
    height: 80px;
}
.abc6:hover {
    border: 0px;

} 
.ab3 {
    width: 700px;
    height: 200px;
}
.ab5 {
    color: white;
    font-size: 15px;
}
.ab4 {
    color: black;
    font-size: 15px;
}
#abc8 {
    width: 450px;
    height: 250px;
}
#abc41 {
    width: 420px;
}
.abc7 {
    color: black;
    font-size: 15px;
    font-weight: 600;

}
.abc11 {
    margin-bottom: 10px;
}
.abc8 {
    border: 2px solid rgb(128,0,0);
    padding: 10px;
    color: black;
    font-size: 15px;
}
.abc8:hover {
    color: white;
    background-color: rgb(128,0,0);
    font-size: 15px;
    font-weight: bold;


}
.ab7 {
    font-size: 25px;
    color: white;
    margin-top: 5px;
    display: none;
}
.abc23 {
    color: white;
    
    font-size: 17px;
padding: 10px;

}
.abc23:hover {
    color: black;
    
    font-size: 17px;
    font-weight: bold;

}

.abc25 {
  
margin-top: 20px;
}
.abc26 {
    margin: 10px;
    border: 2px solid white;
   
}
.abc27 {
    width: 100%;
;
}
.abc26:hover {
    margin: 10px;
    border: 2px solid white;

    background-color: white;
    color: black;
}

.abc24 {
    background-color: rgb(128,0,0);
    height: px;
}
.abc22 {
    width: 100%;
}
.abc29 {
    height: 100px;
    width: 100%;
    z-index: 1;
}
.abc30 {
    font-size: 17px;
    color: white;
    font-weight: bold;
}
.abc31 {
    background-color: rgb(0,42,58);
}
.abc32 {
    color: white;
    font-size: 14px;

}
.abc34 {
    background-color: rgb(238,238,238);
}
.abc41 {
    border: 0px;
    width: 100%;
}
.abc35 {
    font-size: 35px;
    color: black;
text-align: center;
margin-bottom: 50px;
}
.abc36 {
    font-size: 20px;
    color: rgb(77,77,77);
    font-weight: 700;
text-align: center;

}
.abc36:hover {
    font-size: 20px;
    color: white !important;
text-align: center;

}
.abc27 {
    border: 4px solid white;
    padding: 10px;
    margin-bottom: 20px;
}
.abc27:hover {
color: white;
    background-color: rgb(128,0,0);
text-align: center;
margin-bottom: 20px;

}
.abc38 {
    color: rgb(128,0,0);
    font-size: 29px;
}
.abc39 {
    color: black;
    padding: 5px;
    font-size: 17px;
}
.abc40 {
    font-size: 19px;
    color: rgb(128,0,0);
    font-weight: bold;
}
.abc42 {
border: 0px;

}    
.abc43 {
    z-index: -1;
   
}
.abc44 {
    z-index: 1;
    font-size: 20px;
 position: relative;
 bottom: 320px;
 left: 7px;
 color: rgb(128,0,0);
 text-align: justify;


}
h1 {
    color: rgb(77,77,77);
}
.abc45 {
    background-color: rgb(238,238,238);
}
.abc46 {
    background-color: rgb(128,0,0);
    width: 45%;
    height: 20px;
    
}
.abc47 {
    color: rgb(128,0,0);
    margin-top: 10px;
}
.abc48 {
    color: gray;
    font-size: 15px;
    margin-top: 20px;
}
.abc49 {
    color: rgb(90, 90, 90);
    font-size: 29px;
    text-align: center;
}

.abc50 {
    color: rgb(128,0,0);
    margin: 15px;
    font-size: 29px;
}
.abc51 {
    color: gray;
    font-size: 17px;
    margin: 20px;

}
.abc52 {
    color: rgb(128,0,0);
    font-size: 15px;
    margin: 19px;
    font-weight: bold;
}
.abc53 {
    width: 100%;
    height: 100%;
 
    
}
.abc55 {
    width: 100%;
    margin-top: 10px;
   

}
.abc56 {
    color: gray;
    font-size: 17px;
}
.abc57 {
    color: rgb(128,0,0);
  font-size: 29px;
}

.abc61 {
    color: rgb(128,0,0);
    font-size: 19px;
    font-weight: 600;
}
.abc62 {
    border: 2px solid rgb(128,0,0);
    padding: 10px;
    margin-bottom: 20px;
    color: rgb(128,0,0);
    width: 200px;
}
.abc62:hover {
color: white;
    background-color: rgb(128,0,0);
text-align: center;
margin-bottom: 20px;

}

.abc63 {
    font-size: 15px;
    color: rgb(77,77,77);
    font-weight: 700;
text-align: center;

}
.abc63:hover {
    font-size: 15px;
    color: white;
    font-weight: 700;
text-align: center;

}
.abc64 {
    background-color: rgb(64,64,64);
}
.abc65 {
    width: 100%;
}
.abc66 {
    color: white;
    font-size: 15px;
}
.abc67 {
    color: white;
    font-size: 19px;
    padding: 20px;
    text-align: center;
}
.abc68 {
    border: 4px solid rgb(77,77,77);
}


#parent_column
{
  grid-template-columns:1fr 0.61fr 1fr;
  display: grid;
  width: 100vw;
  height: 20vh;
}

#first_column
{
  grid-column: 1;
  display:grid;
  grid-template-rows: 1fr 1fr;
}

#second_column
{
  grid-column: 2;
}

#third_column
{
  grid-column: 3;
  display:grid;
  grid-template-rows: 1fr 1fr;
}
.abc71 {
    margin-left: 100px;
}
.abc72 {
    margin-left: 50px;
}

@media (min-width: 320px) and (max-width: 400px){
    .ab3 {
        width: 300px;
        height: 350px;
    } 
    .abc71 {
        margin-left: 0px;
    }
    .abc72 {
        margin-left: 0px;
    }  
    .abc73 {
        display: none;
    }
    #abc8 {
        width: 300px;
        height: 350px;
    }
    .abc12 {
        color: black;
        font-size: 15px;
        color: rgb(128,0,0);
        margin-top: 25px;
        
    }
    .abc24 {
        background-color: rgb(128,0,0);
        height: 150px;
    }
    .abc8 {
        border: 2px solid rgb(128,0,0);
        padding: 10px;
        color: black;
        font-size: 15px;
        margin-top: 20px;
    }
    .ab7 {
        font-size: 25px;
        color: white;
        margin-top: 5px;
        display: block;
    }
    .abc44 {
        z-index: 1;
width: 75%;
margin-left: 20px;
     position: relative;
     bottom: 320px;
  
     color: rgb(128,0,0);
     text-align: justify;
    
    
    }
    .abc34 {
        background-color: rgb(238,238,238);
     
    }
    .abc55 {
        width: 100%;
        height: 100%;
        margin-top: 10px;
    }
    .abc65 {
        width: 100%;
        margin-bottom: 20px;
    }
    .abc66 {
        color: white;
        font-size: 15px;
        margin-top: 20px;
    }
  
}

@media (min-width: 420px) and (max-width: 500px){
    .ab3 {
        width: 300px;
        height: 350px;
    } 
    .abc71 {
        margin-left: 0px;
    }
    .abc72 {
        margin-left: 0px;
    }  
    .abc73 {
        display: none;
    }
    #abc8 {
        width: 300px;
        height: 350px;
    }
    .abc12 {
        color: black;
        font-size: 15px;
        color: rgb(128,0,0);
        margin-top: 25px;
        
    }
    .abc24 {
        background-color: rgb(128,0,0);
        height: 150px;
    }
    .abc8 {
        border: 2px solid rgb(128,0,0);
        padding: 10px;
        color: black;
        font-size: 15px;
        margin-top: 20px;
    }
    .ab7 {
        font-size: 25px;
        color: white;
        margin-top: 5px;
        display: block;
    }
    .abc44 {
        z-index: 1;
width: 75%;
margin-left: 20px;
     position: relative;
     bottom: 320px;
  
     color: rgb(128,0,0);
     text-align: justify;
    
    
    }
    .abc34 {
        background-color: rgb(238,238,238);
     
    }
    .abc55 {
        width: 100%;
        height: 100%;
        margin-top: 10px;
    }
    .abc65 {
        width: 100%;
        margin-bottom: 20px;
    }
    .abc66 {
        color: white;
        font-size: 15px;
        margin-top: 20px;
    }
  
}
@media (min-width: 540px) and (max-width: 720px){
    .ab3 {
        width: 300px;
        height: 350px;
    } 
    .abc71 {
        margin-left: 0px;
    }
    .abc72 {
        margin-left: 0px;
    }  
    .abc73 {
        display: none;
    }
    #abc8 {
        width: 300px;
        height: 350px;
    }
    .abc12 {
        color: black;
        font-size: 15px;
        color: rgb(128,0,0);
        margin-top: 25px;
        
    }
    .abc24 {
        background-color: rgb(128,0,0);
        height: 150px;
    }
    .abc8 {
        border: 2px solid rgb(128,0,0);
        padding: 10px;
        color: black;
        font-size: 15px;
        margin-top: 20px;
    }
    .ab7 {
        font-size: 25px;
        color: white;
        margin-top: 5px;
        display: block;
    }
    .abc44 {
        z-index: 1;
width: 75%;
margin-left: 20px;
     position: relative;
     bottom: 320px;
  
     color: rgb(128,0,0);
     text-align: justify;
    
    
    }
    .abc34 {
        background-color: rgb(238,238,238);
     
    }
    .abc55 {
        width: 100%;
        height: 100%;
        margin-top: 10px;
    }
    .abc65 {
        width: 100%;
        margin-bottom: 20px;
    }
    .abc66 {
        color: white;
        font-size: 15px;
        margin-top: 20px;
    }
  
}
