* {
    margin: 0px;
    padding: 0px;

}
html body {
    background-color: rgb(29, 29, 29);
}
.abc {
    color:  white;
    font-size: 20px;
    
}
.abc3 {
    margin-left: 20px;
}
.abc1 {
    margin-left: 10px;
    font-size: 20px;
    font-family: cursive ;
    font-weight: 600;
}
.icon-bar {
background-color: white;
color: white;
font-size: 20px;
}
.bg {
    color: rgb(29, 29, 29);
    background-color: rgb(29, 29, 29);
}
html body:hover {
    background-color: rgb(29, 29, 29);
}
.abc4 {
    background-color: rgb(29, 29, 29);
    color: white;
    margin-top: 14px;
}
.abc4:hover {
    background-color: rgb(29, 29, 29);
    color: white;
}
.abc:hover  {
    color:  white;
    font-size: 20px;
color: rgb(253, 97, 6);
    
}
.abc1:hover  {
    margin-left: 10px;
    font-size: 20px;
    font-family: cursive ;
    font-weight: 600;
    color: rgb(253, 97, 6);

}
.abc2 {
    font-size: 25px;
    color: white;
 font-weight: 700;
    font-style: italic;


}
.abc5 {
    color:  white;
    font-weight: 575;
    font-family: 'Gill Sans',sans-serif;
}
.abc6 {
    color: rgb(255, 119, 40);
    font-size: 23px;
    font-style: italic;
    font-weight: 600;
}
.abc7 {
    color: rgb(255, 119, 40);
    font-size: 29px;
    font-style: italic;

}
.space {
    height: 40px;


}
.spacer {
    height: 15px;
}
.abc8 {
    font-size: 17px;
    color: rgb(168, 168, 168);
    font-weight: 500;
}
.abc9 {
    background-color: rgb(29, 29, 29);
}
.abc10 {
    background-color: rgb(19, 18, 18);
    padding: 29px;
}
.abc11 {
    background-color: rgb(253, 97, 6);
    color: white;
    font-weight: bold !important;
    border-radius: 23px !important;
    padding: 14px !important;
    width: 175px;
    
}
.abc12 {
    margin-top: 10px;
 border-top: 6px solid rgb(238, 87, 0);
 width: 100%; 
 border-left: 6px solid rgb(238, 87, 0) ; 
 height: 100%; 
  border-bottom: 6px solid rgb(238, 87, 0);
 border-right: 6px solid rgb(238, 87, 0) ; 
 box-shadow: 5px 5px 5px 5px black;
 border-radius: 5px;
 
}


   .abc15 {
    width: 100%;
    height: 250px;
    padding: 20px;
    
   }
   .bg2 {
    background-color: rgb(255, 0, 0);
    margin-bottom: 10px !important;
    border-radius: 200px !important;
   }
   .bg3 {
    background-color: rgb(238, 87, 0);
    margin-bottom: 10px !important;
    border-radius: 200px !important;
   }
   .bg4 {
    background-color: white;
    margin-bottom: 10px !important;
    border-radius: 200px !important;
   }



.abc17 {
    color: white;
    font-size: 17px;
    font-weight: 600;
    font-family: cursive;
}

.abc29 {
    color: white;
    border-bottom: 7px solid rgb(253, 97, 6);
}

.abc30 {
    color: white;
    font-size: 18px;
}

.abc31 {
    color: rgb(168, 168, 168);
    margin-left: 10px;
    font-size: 17px;
    font-weight: 600;
}
.abc32 {
  background-color: rgb(253, 97, 6) !important;
}
.abc33 {
    margin-left: 27px;
}
.abc34 {
    margin-left: 24px;
}


.abc35 {
box-shadow: 2px 2px 5px 3px rgb(87, 87, 87);
padding: 20px; 
margin-top: 20px;

}
.abc35:hover {
    transform: scale(1.03);

   transition: transform 400ms ease;
}
.abc36 {
    font-size: 29px;
    color: white;
}

.abc37 {
    color: white;
}

   .abc37 {
    color: rgb(252, 103, 214);
    font-size: 25px;
    font-weight: 600;


   }
   .abc38 {
    color: white;
    border-bottom: 7px solid rgb(252, 103, 214);
}
.abc39 {
    color: white;
    font-size: 19px;
    font-weight: 600;
    margin-top: 15px;
}
.abc40 {
    font-size: 29px;
    color: rgb(252, 103, 214);
}
.abc41 {
    font-size: 17px;
    color: white;
}
.abc43 {
 border-radius: 5px;
 padding: 5px;
 width: 100%;
}
.abc44 {
    background-color: rgb(252, 103, 214);
}
.abc45 {
    font-size: 19px;
    color: white;
    font-weight: 600;
}
.abc47 {
    color: aqua;
    font-size: 25px;
    font-weight: 600;
}
.abc48 {
    color: white;
    border-bottom: 7px solid aqua;
}